@model DiplomaThesisSystemMVC.Models.DiplomaThesisTopic


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>DiplomaThesisTopic</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NumberOfStudents)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NumberOfStudents)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FieldOfStudy)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FieldOfStudy)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Degree)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Degree)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Availability)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Availability)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Status)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Reviewer.FirstName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Reviewer.FirstName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Teacher.FirstName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Teacher.FirstName)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
